@import "tailwindcss";

:root {
  /* stone-50 */
  --background: #fafaf9;
  /* stone-900 */
  --foreground: #1c1917;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  
  /* Ruled Paper Effect */
  background-image: linear-gradient(#e7e5e4 1px, transparent 1px);
  background-size: 100% 2.5rem; /* 40px lines */
  background-attachment: local; /* Scrolls with content */
  min-height: 100vh;
}

/* Ensure inputs sit on the lines */
input, textarea {
  background: transparent;
}

